section.feature{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	border:1px solid $backgroundColor;
	@media (max-width: 768px){
		border:none;
		border-bottom: 1px dotted $backgroundColor;
	}
	.feature-item{
		flex: 1 0 calc(100% / 4);
		padding: 5% 4% 6% 4%;
		border-right:1px solid $backgroundColor;
		@media (max-width: 940px){
			padding: 5% 2% 6% 4%;
		}
		@media (max-width: 768px) {
			flex: 1 0 50%;
			border-right:1px dotted $backgroundColor;
			border-top: 1px dotted $backgroundColor;
		}

		h4{
			padding: 30px 0;
			@media (max-width: 940px){
			padding: 15px 0;}
		}
		i.icofont{
			color:$boldColor;
		}
	}
	.feature-item:nth-child(2n){
		@media (max-width: 768px){
			border-right:none;
		}
	}
}

@media (max-width: 480px){
	section.feature{
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
	border:1px solid $backgroundColor;}
	.feature-item{
		width: 100%;}
}