section.project{
	width: 100%;
}

.project-menu{
	display: flex;
	flex-direction:row;
	// align-items: center;
	justify-content: space-around;
	width: 70%;
	margin: 0 auto;
	@media (max-width: 480px){
		display: flex;
		flex-direction:column;
		align-items: center;
		justify-content:space-between;
		li{
			margin-bottom: 20px;
		}
	}
}

ul.gallery{
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
	padding-top:45px;
	padding-bottom: 45px;
	li.gallery__cell.gallery__cell--square{
		width: calc(100% / 3 - 10px);
		margin-bottom:10px;
		@media (max-width: 940px){
				width: calc(100% / 2 - 10px);
				margin-bottom:10px;
		}
		@media (max-width: 480px){
				width: 100%;
				margin-bottom:10px;
		}
	}
}


figure{
	position:relative;
	&:hover figcaption{
		display: block;
		opacity: 1;
		box-shadow: -5px 5px 5px $backgroundColor;
		display: flex;
		flex-direction:column;
		justify-content:center;
	}
	img{
		display: block;
		width: 100%;
	}
	}

	figcaption{
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		display: flex;
		flex-direction:column;
		justify-content:center;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		transition: all 0.5s;
		text-align: center;
		opacity: 0;
		p{
			padding-bottom: 30px;
		}
		@media (max-width: 940px){
			opacity: 1;
			top: 75%;
			p{
				padding-bottom: 0;
			}
		}
		@media (max-width: 768px){
			opacity: 1;
			top: 50%;
		}
		@media (max-width: 480px){
			opacity: 1;
			top: 80%;
		}
	}

// STAFF 

section.staff{
	background: $paleColor;
	width: 100%;
	padding-bottom: 120px;
}

.staff-gallery{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
	@media (max-width: 940px){
		justify-content:center;
		align-items:center;

	}
}

li.gallery__cell.gallery__cell--portrait{
	width: calc(100% / 3 - 20px);
	margin-right: 20px;
	margin-bottom: 20px;
	&:nth-child(3n+3){
		margin-right:0;
	}
	@media (max-width: 940px){
		width: calc(50% - 20px);
	}
	@media (max-width: 768px){
		width: 100%;
		figcaption{
			opacity: 1;
			top: 80%;
		}
	}
}


