@font-face {
    font-family: 'IcoFont';
    src: url('../assets/fonts/icofonts/icofont.eot') format("eot");
    src: url('../assets/fonts/icofonts/icofont.ttf') format('truetype');
}


.icofont-arrow-right:before {
	content: "\eb1b";
}

.icofont-arrow-left:before {
    content: "\eb1a";
}

.icofont-brain-alt:before {
	content: "\e905";
}

.icofont-calendar:before {
	content: "\efa1";
}

.icofont-caret-left:before {
    content: "\eb26";
}
.icofont-caret-right:before {
    content: "\eb27";
}

.icofont-dashboard-web:before {
	content: "\efcf";
}

.icofont-emo-simple-smile:before {
	content: "\ebbd";
}

.icofont-envelope:before {
	content: "\efe6";
}

.icofont-location-pin:before {
	content: "\f051";
}

.icofont-megaphone-alt:before {
	content: "\ed80";
}

.icofont-plus-circle:before {
	content: "\f0a3";
}

.icofont-smart-phone:before {
	content: "\f0d2";
}

.icofont-trophy:before {
	content: "\ee95";
}

.icofont-wall-clock:before {
	content: "\f10a";
}

.icofont-pencil:before {
    content: "\f098";
}

.icofont-quote-left:before {
    content: "\f0b1";
}

