$bodyFont: 'Source Sans Pro', sans-serif;
$titleFont: 'Montserrat', sans-serif;

$contrastColor:#fff;
$paleColor:#f3f3f3;
$backgroundColor:#ccc;
$bodyFontColor:#999;
$footerColor:#333;
$boldColor:#000;

$facebookColor:#3d599b;
$twitterColor:#5cadff;
$googlePlusColor:#fd4142;
$pinterestColor:#de393a;





